.container {
    height: 100vh;
    background: #5765DB;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.imageBackgroung {
    position: absolute;
    top: 0;
    left: 0;
   
}

.container section {
    margin: auto;
    /* display: block; */
    flex-direction: row;
    z-index: 1;
    /* text-align: left;
    align-items: center; */
    justify-content: center;

    
}

.container section span {
    font-family: Rajdhani, sans-serif;
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 600;

}

.container section p {
    font-family: Rajdhani, sans-serif;
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 600;

}

.hintIcon {
    display: flex;
    align-items: center;

}

.hintIcon p {
    margin-left: 1rem;
} 

.continue {
    display: flex;
    margin-top: 1rem;
}

.continue input{
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: linear-gradient(to left, #5765DB, #000);
    color: var(--white);
    padding: 1rem;
    
}

.continue button {
    background: var(--green);
    border: 0;
    padding: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    align-items: center;
    /* novo */
    /* width: 70%;
    display: flex; */

}
/* 
.continue button span {
    font-size: 1.25rem;
    margin-left: 1rem;
} */