.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-items: center;
}

@media(max-width: 1000px) {
    .container section {
        display: block;
        text-align: center;
        height: 100%;
        padding: 2rem;
       
    }

    .container section div {
        margin-top: 2rem;
        
    }

    .challengeContainerSection {
        margin-bottom: 2rem;
    }
}

@media(max-width:1170px) {
    .container section {
        margin-left: 4rem;
    }
}