.asideBarContainer {
    position: absolute;
    left: 0;
    height: 100%;
    background: var(--white);
    align-items: center;
    text-align: center;
    margin-right: 5rem;
    
    padding: 2rem;
    
    
}

.asideBarContainer img {
    height: 2.6rem;
    width: 2.6rem;
}

.asideBarContainer  div  {
    text-align: center;
    align-items: center;

}

.asideBarContainer div div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.asideBarContainer div div div {
    position: absolute;
    left: 0;
    height: 3rem;
    background: var(--blue);
    width: 0.3rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.asideBarContainer div div button {
    background: transparent;
    border: 0;
    height: 30px;
}