.asideBarContainer {
    position: absolute;
    left: 0;
    height: 100%;
    background: var(--white);
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 2rem;
    width: max-content;
    padding: 1rem;

}

.asideBarContainer > div {
    text-align: center;
    
    justify-content: center;
    position: absolute;
    top: 50%;
}

.asideBarContainer div button {
    width: 100%;
    background: transparent;
    border: 0;
    position: relative;
    display: flex;
    justify-content: space-between;

    text-align: center;
}

/* .asideBarContainer div button div {
    width: 4px;
    background:#3173FB;
    height: 100%;
    position: absolute;
    left: 0;
} */

.asideBarContainer div button:last-child {
    margin-top: 1rem;
}

